body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.banner {
  background-image: url(../images/pexels-muffin-creatives-2468773.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin-top: -42px;
  height: 709px;
}
.header-item {
  text-align: center;
  padding-top: 12%;
}
.header-item h1 {
  font-size: 70px;
  font-weight: 900;
  color: white;
  width: 70%;
  padding-left: 16%;
}
.header-item p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(250, 250, 250);
  width: 50%;
  padding-left: 26%;
  padding-bottom: 30px;
}
.header-button {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(255, 99, 99);
  padding: 16px 24px;
  border-radius: 5px;
}

.donate-section {
  text-align: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
}
.donate-head {
  font-size: 40px;
  font-weight: 900;
  color: rgb(6, 6, 6);
}
.donate-description {
  font-size: 20px;
  font-weight: 400;
  color: rgb(126, 124, 124);
  width: 50%;
  padding-left: 26%;
}
.donate-tk {
  display: flex;
  margin-left: 20%;
}
.donate-tk h1 {
  color: rgb(126, 124, 124);
  font-size: 30px;
  font-weight: 700;
  padding-left: 6%;
  margin-top: 5%;
  margin-bottom: 10%;
}
#tk {
  font-size: 28px;
  font-weight: 700;
  color: rgb(245, 85, 85);
  background-color: rgb(248, 231, 231);
  border: 2px solid rgb(245, 85, 85);
  border-radius: 5px;
  padding: 26px 20px;
  margin-top: 3%;
  margin-bottom: 8%;
  margin-left: 5%;
}
#search-buttun {
  text-align: center;
  font-size: 18px;
  color: rgb(134, 131, 131);
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgb(126, 124, 124);
  padding: 12px 250px;
  margin-bottom: 60px;
  margin-left: 20px;
}

.plan {
  align-items: center;
  text-align: center;
}
.plan-bottum-section {
  display: flex;
  margin-left: 12%;
}
.plan-bottum {
  background-color: rgb(235, 235, 235);
  width: 23%;
  padding: 50px 28px;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 20%;
}
.plan-bottum p {
  font-weight: 400;
  color: rgb(107, 106, 106);
}
#plan-b-color {
  background-color: rgb(233, 220, 220);
}
#plan-b-color-3 {
  background-color: rgb(249, 232, 199);
}
